# Ignore large data folders and output files
data/
ammonia_x/
water_x/
*.out_tdscf_rvl
*.out
*.h5
*.npz
*.npy

# Ignore virtual environment
/gnn_env/

# Ignore Jupyter and Python cache
.ipynb_checkpoints/
__pycache__/
*.pyc

# Ignore OS files
.DS_Store
Thumbs.db
